---
layout: default
title: Page Title
---
<!-- start of container -->
<header class="hero">
  <div class="centered">
    <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    reading code in ruby gems, and digressing from there
  </div>
</header>
<div class="container">
  <!-- where to put this? -->
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  <!-- where to put this? -->

  <div class="row">
    <div class="large-8 large-offset-2 columns">
      {% for post in posts %}
      <div class="postItem">
        <h3 class="postItem-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h3>
        &raquo;
        {{ post.date | date_to_string }}
      </div>
      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}

</div>
<!-- end of container -->
